<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./home1.css" />
    <%-include('partials/BoostrapCss.ejs')%>
  </head>
  <body>
    <div class="container-fluid">
      <%- include ('partials/NavBar.ejs')%>

      <div class="row">
        <div class="row justify-content-start">
          <div class="col-4 mx-5 my-5 py-5">
            <h1 class="mx-5 my-5">Hello Alians Welcome to Our World</h1>
            <button class="btn btn-outline-primary mx-5">Click For More</button>
          </div>
          <div class="col-4">
            <img src="./rightside.jpg" class="rounded" alt="logo" />
          </div>
        </div>

<hr>

<%-include('partials/Footer.ejs'); %>
   
</div>


 </div>

    <%-include('partials/Boostrapjs.ejs')%>
  </body>
</html>
